doctype html
html
  head
    title= `${title} | Isaura Admin Panel`
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.css')
  body
    .tabs.is-large
      ul
        li: a(href=root) Inicio
        each list in menu
          li: a(href=list.path)= list.label
    block content
